<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cookandroid.smartotplock">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name = "android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:name=".KakaoApplication">

        <activity android:name=".loadingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".intro01Activity"/>
        <activity android:name=".intro02Activity"/>
        <activity android:name=".signUpActivity" />
        <activity android:name=".createId01Activity"/>
        <activity android:name=".serviceTermsActivity"/>
        <activity android:name=".terms1Activity"/>
        <activity android:name=".terms2Activity"/>
        <activity android:name=".terms3Activity"/>
        <activity android:name=".terms4Activity"/>
        <activity android:name=".terms5Activity"/>
        <activity android:name=".createId02Activity"/>
        <activity android:name=".createId03Activity" />
        <activity android:name=".createId03BlockchainActivity" />
        <activity android:name=".setting"/>
        <activity android:name=".patternCreateActivity"/>
        <activity android:name=".patternCheckActivity"/>
        <activity android:name=".ChangePasswordActivity"/>
        <activity android:name=".ProgramActivity"/>
        <activity android:name=".pinCreateActivity" />
        <activity android:name=".pinCheckActivity" />
        <activity android:name=".userPageActivity"/>
        <activity android:name=".fingerVerificationActivity" />
        <activity android:name=".FingerPrintSuccess" />
        <activity android:name=".Verification" />
        <activity android:name=".PinForgot" />
        <activity android:name=".PatternForgot" />
        <activity android:name=".passVerificationActivity" />
        <activity android:name=".pinVerificationActivity" />
        <activity android:name=".otpCheckActivity"/>
        <activity android:name=".patternVerification" />

        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth“ -->
                <data
                    android:host="oauth"
                    android:scheme="kakaocba561fd2a722f6807a9692eb3d6f73a" />
            </intent-filter>
        </activity>
    </application>

</manifest>